test/resources/staff.dtd.svg

<!ELEMENT employeeId (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT entElement ( #PCDATA ) >
<!ELEMENT gender ( #PCDATA | entElement )* >
<!ELEMENT employee (employeeId, name, position, salary, gender, address) >
<!ATTLIST employee xmlns CDATA #IMPLIED>
<!ELEMENT svg (employee)+>
<!ATTLIST svg xmlns CDATA "http://www.w3.org/2000/svg" #FIXED>
<!ELEMENT svg:svg (employee)+>
<!ATTLIST svg:svg xmlns:svg CDATA "http://www.w3.org/2000/svg" #FIXED>
<!ATTLIST entElement 
          attr1 CDATA "Attr">
<!ATTLIST address
          domestic CDATA #IMPLIED 
          street CDATA "Yes">
<!ATTLIST entElement 
          domestic CDATA "MALE" >

